fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-multipart
passlib
chromadb
python-jose
gtts

# Torch CPU version compatible
torch==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Sentence Transformers
sentence-transformers

# Force NumPy <2 to avoid crash with compiled modules
numpy<2
